[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "echo"]
	path = echo
	url = https://github.com/jmbarbone/echo
[submodule "fuj"]
	path = fuj
	url = https://github.com/jmbarbone/fuj
[submodule "mark"]
	path = mark
	url = https://github.com/jmbarbone/mark
[submodule "scribe"]
	path = scribe
	url = https://github.com/jmbarbone/scribe
